<h1>Veuillez confirmer votre adresse email !</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}&id={{ id }}">Confirmer mon adresse email</a><br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>A bientôt,</p>

<p>HappyRoad.</p>
