<h1>Bienvenue , {{ prenom }} sur le site HappyRoad !</h1>

<p>
    Votre e-mail est confirmé ! <br><br>
    Vous pouvez maintenant vous connecter, en cliquant sur le lien suivant : <br><br>
    <a href="{{ lien }}">HappyRoad</a><br><br>
</p>

<p>A bientôt {{ prenom }},</p>

<p>HappyRoad.</p>
